@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
.level-up-link-page{
    font-family:'Karla';
}
.title-page{
    text-align:center;
    font-size:36px;
}
.suggestFormBar{
    margin:20px;
    display:flex;
    justify-content:space-between;
}
.nav-list-suggest-form{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
}
.suggestFormBar a{
    font-size:24px;
    text-decoration: none;
    color:black;
}
.suggestFormBar a:hover{
    text-decoration: underline;
}
.level-up-link{
    background-image: linear-gradient(rgba(255, 255, 255, 0.715), rgba(255, 255, 255, 0.715)),  url('../../public/images/mainimg.png');
    background-size: cover;
    padding:20px 0 60px 0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    gap:50px;
}
.search-bar{
    display:flex;
    justify-content:space-between;
    gap:30px;
}
.search-input img{
    height:30px;
    width:30px;
    position:absolute;
    top:18px;
    left:15px;
}
.search-input{
    display:flex;
    gap:50px;
    position:relative;
}
.searchbar-input{
    font-size:22px;
    height:60px;
    width:900px;
    border-radius:20px;
    padding-left:60px;
    margin-bottom:30px;
}
.filter-input img{
    height:30px;
    width:30px;
    position:absolute;
    top:18px;
    left:15px;
}
.filterbar-input{
    font-size:22px;
    height:60px;
    width:150px;
    border-radius:20px;
    padding-left:60px;
    margin-bottom:30px;
}
.filter-input{
    display:flex;
    gap:10px;
    position: relative;
}
.link-rectangle{
    height:250px;
    border:1px solid black;
    position:relative;
    padding-top:20px;
}

.link-rectangle .circle1{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    height:200px;
    width:200px;
    z-index:2;
    display:flex;
    align-items: center;
    justify-content: center;
}
.link-rectangle .circle2{
    height:100px;
    width:100px;
    border-radius: 50%;
}
.right{
    width:750px;
    padding-left:100px;
}
.left{
    width:650px;
    padding-left:200px;
}
.left .circle1{
    position:absolute;
    top:-40px;
    left:-80px;
}
.left .circle2{
    position:absolute;
    top:100px;
    left:60px;
}
.right .circle1{
    position:absolute;
    top:-40px;
    right:-80px;
}
.right .circle2{
    position:absolute;
    top:100px;
    right:60px;
}
.one{
    background: rgba(105, 155, 247, 0.5);
}
.two{
    background: rgba(77, 193, 103, 0.5);
}
.three{
    background: rgba(247, 105, 105, 0.5);
}
.four{
    background: rgba(105, 155, 247, 0.5);
}
.link-rectangle p{
    text-decoration: underline;
}
.title{
    text-align:center;
    font-size:36px;
}