@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
.login{
    background-image: url('../../public/images/pencil_sketch.png');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    font-family:'Karla';
}
.loginPage{
    display:flex;
    justify-content: space-between;
}
.loginnav img{
    width:56%;
    margin: 30px 0 0 30px;
}
.tagline{
    margin-left:80px;
    font-size:60px;
    font-weight:300;
    font-style:italic;
    text-shadow:0px 4px 4px #000000;
}
.loginForm{
    width:65%;
    display:flex;
    flex-direction:column;
    align-items:self-start;
}
.loginForm h1{
    margin:30px 0 60px 0;
    font-size:70px;
    font-style:italic;
    font-weight:300;
    text-align:left;
}
form{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    gap:30px;
}
.row{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:40px;
}
.row label{
    font-weight:bolder;
    font-size:24px;
}
.textbox{
    position:relative;
}
.input{
    height:65px;
    width:468px;
    padding:0 20px;
    border-radius:10px;
    border:2px solid black;
    font-size:20px;
}
.textbox input{
    padding-left:60px;
}
.icon{
    width:40px;
    height:40px;
    position:absolute;
    top:12px;
    left:10px;
}
.submit{
    background-color:#D0E1FB;
    border-radius:40px;
    color:black;
    border:2px solid black;
    width:190px;
    height:74px;
    font-size:20px;
    align-self:center;
    box-shadow:0px 4px 5px #000000;
    transition:all 0.2s;
}
.submit:hover{
    background-color: #000000;
    cursor: pointer;
}
.link{
    color:black;
    font-size:20px;
    align-self:center;
    transition:all  0.3s;
}
.link:hover{
    color:#D0E1FB;
    text-decoration:underline;
    text-decoration-color: #000000;
}
#categoryinput{
    margin-left: 20px;
}
